.container {
    background: steelblue;
    display: flex;
    width: 200px;
    flex-wrap: wrap; /* Comportamiento por defecto: nowrap */
    }
    .item {
    background: grey;
    width: 50%;
    }